.content .Quiz {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: blue;
}

.content .Quiz .section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.content .Quiz .section-1 {
  background-color: white;
}

a.btn-quiz {
  width: 300px;
  height: 50px;
  border-radius: 7px;
  background-color: #afc67f;
  color: white;
  border: none;
  padding-top: 12px;
}

a.btn-quiz:hover {
  background-color: #96ad66;
  color: white;
}

#next-btn,
#prev-btn {
  background-color: white;
  border: 3px solid #96ad66;
  text-decoration: none;
  font-family: "poppins";
  font-size: 500;
  color: #96ad66;
}

.submit-quiz.btn-submit:hover {
  background-color: #96ad66;
  color: white;
}
