.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card-img-top {
    width: 100%;
    padding: 0;
    display: block;
}

H5.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 18px 18px;
    text-align: left;
    color: #000000;
}

.custom-card-link {
    font-size: 0.9rem;
    font-weight: bold;
    color: #8d8d8d;
    text-decoration: none;
    transition: color 0.3s;
    margin: 18px 18px;

}

.custom-card-link:hover {
    color: #a9a9a9;
}

.custom-card-border {
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    padding: 0;
    box-sizing: border-box;
}

.card-content {
    font-size: 1rem;
    padding-left: 18px;
    text-align: left;
    color: #000000;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 4.5em;
}