.content .homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;

  /* overflow-y: auto; */
}

.content .homepage .section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.content .homepage .section-1 {
  background-color: #FFFFFF;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5rem;
  min-height: 100% !important;
}

.content .homepage .section-2 {
  background-color: #507e5b;
}

/* sec 1 */
.sec-1-button {
  color: white;
  background-color: #96AD66;
  margin: 0;
  padding: 0.25rem 1.25rem;
  font-size: 1.75rem;
  border-radius: 2rem;
  border: none;
}

.sec1-1-wrapper {
  padding: 2rem 1rem;
  background-color: #96AD66;
}

.sec1-text {
  color: #7D944D;
  font-weight: bolder;
  font-size: 2.5rem;
}

.data {
  font-size: 2.25rem;
  font-weight: bold;
}

.data-desc {
  font-size: 1.25rem;
}

.data-item {
  flex: 1;
}

.img-top {
  animation: slideLeftToRigth 1s ease-out forwards;
}

.text-top {
    animation: slideRightToLeft 1s ease-out forwards;
}
/* ==== */


.content .homepage .section-3 {
  background-color: white;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.content .homepage .section-4 {
  background-color: #333;
  color: white;
  height: 100vh;
}

.content .homepage .contianer-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content .homepage .heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
}

.content .homepage .image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

.content .homepage .mob-preview {
  max-width: 50%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .btn {
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  
}

.pagination .btn.active-page {
  background-color: #7D944D ;
  color: white;
  font-weight: bold;
}

.pagination .btn:hover {
  background-color: #434631;
  color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .content .homepage .mob-preview {
    max-width: 70%;
  }
}

@keyframes slideBottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.6s ease-out;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftToRigth {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.6s ease-out;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.6s ease-out;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.mob-visible {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-bottom-to-top {
  animation: slideBottomToTop 1s ease-out forwards;
}